:root {
  --main-transition-duration: 0.3s;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

/* Start Box */
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.wrap-flex {
  flex-wrap: wrap;
}
.column-flex {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.full-flex {
  flex: 1;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
}
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}
/* End Box */

/* Start Dimensions */
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.pt-15 {
  padding-top: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.mt-5 {
  margin-top: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-13 {
  margin-top: 13px;
}
.mb-13 {
  margin-bottom: 13px;
}
.m-15 {
  margin: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.mr-15 {
  margin-right: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.m-20 {
  margin: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mb-25 {
  margin-bottom: 25px;
}
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-half {
  border-radius: 50%;
}
/* End Dimensions */

/* Start Width+Height */
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.w-100 {
  width: 100px;
}
.h-full {
  height: 100%;
}
.h-4 {
  height: 4px;
}
.h-100 {
  height: 100px;
}
/* End Width+Height */

/* Start Colors */
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-red {
  background-color: var(--red-color);
}
.c-black {
  color: black;
}
.c-grey {
  color: var(--grey-color);
}
.c-white {
  color: white;
}
.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
/* End Colors */

/* Start position */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.flow-hidden {
  overflow: hidden;
}
/* End position */

/* Start Font */
.txt-c {
  text-align: center;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
.fw-bold {
  font-weight: bold;
}
.fw-normal {
  font-weight: normal;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-25px {
  font-size: 25px;
}
.lh-p {
  line-height: 1.6;
}
/* End Font */

/* Start Component */
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.between-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.border-none {
  border: none;
}
.border-ccc {
  border: 1px solid #ccc;
}
.border-eee {
  border: 1px solid #eee;
}
.t-border-eee {
  border-top: 1px solid #eee;
}
.b-border-eee {
  border-bottom: 1px solid #eee;
}
.main-heading {
  margin: 20px 20px 40px;
  position: relative;
}
.main-heading::before,
.main-heading::after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -10px;
  left: 0;
}
.main-heading::before {
  background-color: white;
  width: 120px;
}
.main-heading::after {
  background-color: black;
  width: 40px;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
/* End Component */
